<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pacificrim/radicalorganics/invoices') ?>">Invoices</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="container printable" id="printable">
            <div class="row">
                <div class="col-xs-7">
                    <img src="../../../../../plugins/pacificrim/radicalorganics/assets/images/rad_org_img.png" alt="Radical Organic Logo" width="100%">
                </div>
                <div class="col-xs-5 remit-to">
                    <p><span class="remit">Remit To: </span></p>
                    <p><span class="bank">Bank: </span>Bank of the Philippines Islands</p>
                    <p><span class="branch">Branch: </span>One Global Place Branch</p>
                    <p>One Global Plaza 5th Ave</p>
                    <p>Bonifacio Global City</p>
                    <p>Taguig City, Philippines 1634</p>
                    <p>+63 2 519 2699</p>
                    <p><span class="acct_name">Account Name: </span>Pacific Rim Natural Foods Product Inc.</p>
                    <p><span class="acct_no">Account Number: </span>0991-0018-67</p>
                    <p><span class="bic">BIC: </span>BOPIPHMM</p>
                    <p><span class="ben_add">Beneficiary Address: </span>31st and 3rd Ft. Legends Tower 10th Fl Ft. Bonifacio Global City Taguig</p>
                    <p><span class="ben_add">Company Identification Number: </span>CS201208586</p>
                    <p><span class="ben_add">VAT: </span>008-280-048-000</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6" style="padding-left: 5px">    
                        <p><span class="ship_to"><strong>Customer Bill To Address: </strong></span></p>
                    </div>
                    <div class="col-xs-6" style="padding-left: 5px">
                        <p><span class="ship_from"><strong>Ship From Address: </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6 ship_to">
                        <p><?= $customer; ?></p>
                        <?php foreach (explode(',', $billing_address) as $key => $address) { ?>
                            <p><?= $address; ?></p>
                        <?php } ?>
                    </div>
                    <div class="col-xs-6 ship_from">    
                        <p>Radical Organics</p>
                        <p>Unit 273 Entrata Urban Complex</p>
                        <p>Block 32, Civic Drive cor. Corporate Ave.</p>
                        <p>Filinvest Corporate City</p>
                        <p>Alabang, Muntinlupa City</p>         
                    </div> 
                </div> 
                <div class="col-xs-5">
                    <p class="invoice">
                        <?php if($downpayment_status == "downpayment"): ?>
                            Downpayment 
                        <?php endif; ?>
                        <?php if($downpayment_status == "balance"): ?>
                            Balance 
                        <?php endif; ?>
                        Invoice
                    </p>
                    <table layout="fixed" width="100%">             
                        <tr>
                            <th width="33.33333333333333%">Invoice Number</th>
                            <th width="33.33333333333333%">Invoice Date</th>
                            <th width="33.33333333333333%">Due Date</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $invoice_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $invoice_date; ?></td>
                            <td style="background-color: #FFF !important;" class="due">
                                <?php if($terms == "Consignment"): ?>
                                    After Sold
                                <?php else: ?>
                                    <?= $due_date; ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th style="background-color: #D0D1D2;">Customer PO</th>
                            <th style="background-color: #D0D1D2;">Customer ID</th>
                            <th style="background-color: #D0D1D2;">Terms</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $po_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $customer_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $terms; ?></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <table layout="fixed" width="100%">             
                    <tr>
                        <th style="background-color: #D0D1D2;">Part Number</th>
                        <th style="background-color: #D0D1D2;">Description</th>
                        <th style="background-color: #D0D1D2;">Quantity</th>
                        <th style="background-color: #D0D1D2;">Unit Price</th>
                        <th style="background-color: #D0D1D2;">Amount</th>
                    </tr>
                    <?php
                        $total = array();
                        $total['quantity'] = 0; 
                        $total['unit_cost'] = 0;
                        $total['total'] = 0;
                        ?>
                    <?php foreach ($items as $key => $item) { ?>
                    <?php $total['quantity'] = $total['quantity'] + $item->quantity;  ?>
                    <?php $total['unit_cost'] = $total['unit_cost'] + $item->unit_cost;  ?>
                    <?php $total['total'] = $total['total'] + str_replace(",", "", substr($item->total_cost,4));  ?>
                        <tr>
                            <td style="background-color: #DEDEDF;"><?= $item->product->part_no; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->description; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->quantity; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->unit_cost; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->total_cost; ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <th style="background-color: #D0D1D2;"></th>
                        <?php if($downpayment_status == "downpayment" || $downpayment_status == "balance"): ?>
                        <th style="background-color: #D0D1D2;"><span style="float: left"></span><span style="float: right;">Sub-Total</span></th>
                        <?php else: ?>
                        <th style="background-color: #D0D1D2;"><span style="float: left">Thank You For Your Business!</span><span style="float: right;">Total</span></th>
                        <?php endif; ?>
                        <th style="background-color: #D0D1D2;"><?= $total['quantity']; ?></th>
                        <th style="background-color: #000 !important;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' ' .number_format(( $total['total']),2,".",","); ?></th>
                    </tr>
                    <?php if($downpayment_status == 'downpayment'): ?>
                    <tr>
                        <th style="background-color: #D0D1D2;"><span style="text-align: center;"><?= ($downpayment_percentage * 100) ?> %</span></th>
                        <th style="background-color: #D0D1D2;"><span style="float: right;">Downpayment Percentage (<?= ($downpayment_percentage * 100) . '% x ' . 'Sub-Total'?>)</span></th>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #000 !important;"></th>
                        <th style="background-color: #D0D1D2;"><?php echo $currency . ' ' . number_format(($total['total'] * $downpayment_percentage),2,".",","); ?></th>
                    </tr>
                    <tr>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><span style="float: left;">Thank You For Your Business!</span><span style="float: right;">Balance Due Total</span></th>
                        <th style="background-color: #D0D1D2;"><?= $total['quantity']; ?></th>
                        <th style="background-color: #000 !important;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' ' . number_format(($total['total'] - $total['total'] * $downpayment_percentage),2,".",","); ?></th>
                    </tr>
                    <?php endif; ?>
                    <?php if($downpayment_status == 'balance'): ?>
                    <tr>
                        <th style="background-color: #D0D1D2;"><span style="float: left"></span></th>
                        <th style="background-color: #D0D1D2;"><span style="float: right;">Balance Percentage (<?= ($downpayment_percentage * 100) . '% x Sub-Total - ' . 'Sub-Total'?>)</span></th>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' -' . number_format(($total['total'] * ($downpayment_percentage)),2,".",","); ?></th>
                    </tr>
                    <tr>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><span style="float: left;">Thank You For Your Business!</span><span style="float: right;">Balance Due Total (<?= (100 - $downpayment_percentage * 100) ?> %)</span></th>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' ' . number_format(($total['total'] - $total['total'] * ($downpayment_percentage)),2,".",","); ?></th>
                    </tr>
                    <?php endif; ?>
                </table>        
            </div>
            <div class="row" style="margin-top:15px;">
                <p style="text-align: center;position: fixed;bottom: 20px;width: 100%;">If you have any questions about this invoice, please contact: info@prnf.ph</p>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    id="print-button"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Showing Invoice Preview..."
                    class="btn btn-default oc-icon-print">
                    Print Preview
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    class="btn btn-default oc-icon-emails">
                    Email to Customer
                </button>
                <?php if($invoice_status == 'created'): ?>
                    <button
                        type="button"
                        data-request="onIssueInvoice"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Saving Invoice..."
                        class="btn btn-default">
                        Invoice Issued
                    </button>
                <?php endif; ?>
                <?php if($invoice_status == 'issued'): ?>
                    <button
                        type="button"
                        data-request="onPaymentInvoice"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Saving Invoice..."
                        class="btn btn-default">
                        Invoice Paid
                    </button>
                <?php endif; ?>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Customer..."
                    class="btn btn-default">
                    Save
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Invoice..."
                    data-request-confirm="Delete this invoice?">
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('pacificrim/radicalorganics/invoices') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pacificrim/radicalorganics/invoices') ?>" class="btn btn-default">Return to invoices list</a></p>

<?php endif ?>