@media print {
	.printable p{
		margin-bottom: 0px !important;
	}
	.printable .remit,
	.printable .bank,
	.printable .branch,
	.printable .acct_name,
	.printable .acct_no,
	.printable .bic,
	.printable .ben_add,
	.printable .rad_org,
	.printable .comp_name{
		font-weight: bold !important;	
	}
	.printable .remit{
		text-decoration: underline !important;
	}
	.printable .container{
		font-size: 12px !important;
	}
	.printable .col-xs-4.ship_from,
	.printable .col-xs-4.ship_to  {
	    border-width: 1px !important;
	    padding-left: 5px !important;
	    height: 150px;
	}
	.printable table,
	.printable  th,
	.printable  td {
	    border: 1px solid white !important;
	    text-align: center;
	    -webkit-print-color-adjust: exact;
	}
	.printable .invoice{
		text-align: center !important;
		font-size: 24px !important;
		color: #CDCDCD !important;
		font-weight: bold !important;
	}
	.printable 	th{
		background-color: #D0D1D2 !important;
		text-align: center !important;
		font-size: 12px;
	}
	.printable 	td{
		background-color: #DEDEDF !important;
		text-align: center !important;
		font-size: 12px;
	}

	.remit-to {
		font-size: 10px;
	}
	@page {
		size: landscape;

	}
}