<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pacificrim/radicalorganics/shipments') ?>">Shipments</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Shipment..."
                    class="btn btn-default oc-icon-truck">
                    Ship Confirm
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Shipment..."
                    data-request-confirm="Delete this shipment?">
                </button>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pacificrim/radicalorganics/shipments') ?>" class="btn btn-default">Return to shipments list</a></p>

<?php endif ?>