<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pacificrim/radicalorganics/picktickets') ?>">Pick Tickets</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="container printable" id="printable">
            <div class="row">
                <div class="col-xs-7">
                    <img src="../../../../../plugins/pacificrim/radicalorganics/assets/images/rad_org_img.png" alt="Radical Organic Logo" width="100%">
                </div>
                <div class="col-xs-5 remit-to">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6" style="padding-left: 5px">    
                        <p><span class="ship_to"><strong>Customer Ship To Address: </strong></span></p>
                    </div>
                    <div class="col-xs-6" style="padding-left: 5px">
                        <p><span class="ship_from"><strong>Ship From Address: </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6 ship_to">  
                        <?= $customer_details; ?>
                    </div>
                    <div class="col-xs-6 ship_from">    
                        <?= $warehouse_details; ?>      
                    </div> 
                </div> 
                <div class="col-xs-5">
                    <p class="invoice">
                        Pick Ticket
                    </p>
                    <table layout="fixed" width="100%">             
                        <tr>
                            <th width="33.33333333333333%">Pick Ticket No.</th>
                            <th width="33.33333333333333%"></th>
                            <th width="33.33333333333333%">Date</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $pt_number; ?></td>
                            <td style="background-color: #FFF !important;">&nbsp</td>
                            <td style="background-color: #FFF !important;"><?= $pick_ticket_date; ?></td>
                        </tr>
                        <tr>
                            <th style="background-color: #D0D1D2;">Customer PO</th>
                            <th style="background-color: #D0D1D2;">Customer ID</th>
                            <th style="background-color: #D0D1D2;">Terms</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $po_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $customer_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $terms; ?></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <table layout="fixed" width="100%">             
                    <tr>
                        <th style="background-color: #D0D1D2;">Part Number</th>
                        <th style="background-color: #D0D1D2;">Description</th>
                        <th style="background-color: #D0D1D2;">Quantity</th>
                        <th style="background-color: #D0D1D2;">Master Pack</th>
                        <th style="background-color: #D0D1D2;">Unit Price</th>
                        <th style="background-color: #D0D1D2;">Amount</th>
                    </tr>
                    <?php
                        $total = array();
                        $total['quantity'] = 0; 
                        $total['mp'] = 0; 
                        $total['unit_cost'] = 0;
                        $total['total'] = 0;
                        ?>
                    <?php foreach ($items as $key => $item) { ?>
                    <?php $total['quantity'] = $total['quantity'] + $item->quantity;  ?>
                    <?php $total['unit_cost'] = $total['unit_cost'] + $item->unit_cost;  ?>
                    <?php $total['mp'] = $total['mp'] + $item->master_pack;  ?>
                    <?php $total['total'] = $total['total'] + str_replace(",", "", substr($item->total_cost,4));  ?>
                        <tr>
                            <td style="background-color: #DEDEDF;"><?= $item->product->part_no; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->description; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->quantity; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->master_pack; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->unit_cost; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->total_cost; ?></td></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><span style="float: left">Thank You For Your Business!</span><span style="float: right;">Total</span></th>
                        <th style="background-color: #D0D1D2;"><?= $total['quantity']; ?></th>
                        <th style="background-color: #D0D1D2;"><?= $total['mp']; ?></th>
                        <th style="background-color: #000 !important;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' ' .number_format(( $total['total']),2,".",","); ?></th>
                    </tr>
                </table>        
            </div>
            <div class="row" style="margin-top:15px;">
                <p style="text-align: center;position: fixed;bottom: 20px;width: 100%;"></p>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    id="print-button"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Showing Invoice Preview..."
                    class="btn btn-default oc-icon-print">
                    Print Preview
                </button>
                <?php if($status == "Approved"): ?>
                <button
                    type="button"
                    data-request="onPTStage"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Closing PickTicket..."
                    class="btn btn-default oc-icon-truck">
                    Shipment Staged
                </button>
                <?php endif; ?>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting PickTicket..."
                    data-request-confirm="Delete this pickticket?">
                </button>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pacificrim/radicalorganics/picktickets') ?>" class="btn btn-default">Return to pick tickets list</a></p>

<?php endif ?>
