<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pacificrim/radicalorganics/externalpurchaseorders') ?>">Customer Purchase Orders</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Updating P.O."
                    class="btn btn-default"
                    >
                    Update PO
                </button>
                <?php if(isset($shipping_status) && $shipping_status == 'shipped'): ?>
                    <button
                        type="button"
                        data-request="onCreateInvoice"
                        data-request-data="close:1"
                        data-load-indicator="Updating P.O."
                        class="btn btn-default"
                        >
                        Create Invoice
                    </button>
                <?php endif; ?>

                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting ExternalPurchaseOrder..."
                    data-request-confirm="Delete this externalpurchaseorddkjer?">
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('pacificrim/radicalorganics/externalpurchaseorders') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pacificrim/radicalorganics/externalpurchaseorders') ?>" class="btn btn-default">Return to Customer Purchase Orders list</a></p>

<?php endif ?>