<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pacificrim/radicalorganics/internalpurchaseorders') ?>"> Receive Issue Orders</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="container printable" id="printable">
            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-7">
                    <img src="../../../../../plugins/pacificrim/radicalorganics/assets/images/rad_org_img.png" alt="Radical Organic Logo" width="100%">
                </div>
                <div class="col-xs-5 remit-to">
                    <strong>Pacific Rim BILL To Address: </strong>
                    <p>Unit 2703 Entrata Urban Complex</p>
                    <p>2609 Civic Drive</p>
                    <p>Filinvest City</p>
                    <p>Alabang, Muntinlupa City</p>
                    <p>Philippines 1770</p>
                    <p>billing@prnf.ph</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6" style="padding-left: 5px;padding-top: 10px;">    
                        <p><span class="ship_to"><strong>Pacific Rim SHIP To Address: </strong></span></p>
                    </div>
                    <div class="col-xs-6" style="padding-left: 5px;padding-top: 10px;">
                        <p><span class="ship_from"><strong>Supplier Address: </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 no-gutter">
                    <div class="col-xs-6 ship_to" style="padding-left: 5px !important;">
                        <p>Pacific Rim - Radical Organics</p>
                        <?php foreach (explode(',', $billing_address) as $key => $address) { ?>
                            <p><?= $address; ?></p>
                        <?php } ?> 
                    </div>
                    <div class="col-xs-6 ship_from" style="padding-left: 5px !important;">
                        <p><?= $supplier; ?></p>
                        <?php foreach (explode(',', $shipped_from_address) as $key => $address) { ?>
                            <p><?= $address; ?></p>
                        <?php } ?> 
                            
                    </div> 
                </div> 
                <div class="col-xs-5">
                    <p class="invoice">
                        Purchase Order
                    </p>
                    <table layout="fixed" width="100%">             
                        <tr>
                            <th width="33.33333333333333%">PO Number</th>
                            <th width="33.33333333333333%">Freight Terms</th>
                            <th width="33.33333333333333%">Issue Date</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $po_code; ?></td>
                            <td style="background-color: #FFF !important;"><?= $freight_terms; ?></td>
                            <td style="background-color: #FFF !important;"><?= $po_date; ?></td>
                        </tr>
                        <tr>
                            <th style="background-color: #D0D1D2;">Requester</th>
                            <th style="background-color: #D0D1D2;">Requester Contact</th>
                            <th style="background-color: #D0D1D2;">Payment Terms</th>
                        </tr>
                        <tr>
                            <td style="background-color: #FFF !important;"><?= $issuer_name; ?></td>    
                            <td style="background-color: #FFF !important;"><?= $issuer_email; ?></td>
                            <td style="background-color: #FFF !important;"><?= $terms; ?></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <table layout="fixed" width="100%">             
                    <tr>
                        <th style="background-color: #D0D1D2;">Part Number</th>
                        <th style="background-color: #D0D1D2;">Description</th>
                        <th style="background-color: #D0D1D2;">Quantity</th>
                        <th style="background-color: #D0D1D2;">Unit Price</th>
                        <th style="background-color: #D0D1D2;">Amount</th>
                    </tr>
                    <?php
                        $total = array();
                        $total['quantity'] = 0; 
                        $total['unit_cost'] = 0;
                        $total['total'] = 0;
                        ?>
                    <?php foreach ($items as $key => $item) { ?>
                    <?php $total['quantity'] = $total['quantity'] + $item->quantity;  ?>
                    <?php $total['unit_cost'] = $total['unit_cost'] + $item->unit_price;  ?>
                    <?php $total['total'] = $total['total'] + str_replace(",", "", $item->unit_price_total);  ?>
                        <tr>
                            <td style="background-color: #DEDEDF;"><?= $item->item_code; ?></td>
                            <td style="background-color: #DEDEDF;"><?= $item->item_description; ?></td>
                            <td style="background-color: #DEDEDF;"><?= number_format($item->quantity,0,"",","); ?></td>
                            <td style="background-color: #DEDEDF;"><?= $currency . ' ' .number_format($item->unit_price,2,".",","); ?></td>
                            <td style="background-color: #DEDEDF;"><?= $currency . ' ' .$item->unit_price_total; ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <th style="background-color: #D0D1D2;"></th>
                        <th style="background-color: #D0D1D2;"><span style="float: left"></span><span style="float: right;">Total</span></th>
                        <th style="background-color: #D0D1D2;"><?= number_format($total['quantity'],0,"",","); ?></th>
                        <th style="background-color: #000 !important;"></th>
                        <th style="background-color: #D0D1D2;"><?= $currency . ' ' .number_format(( $total['total']),2,".",","); ?></th>
                    </tr>
                </table>        
            </div>
            <div class="row" style="margin-top:15px;">
                <p style="text-align: center;position: fixed;bottom: 20px;width: 100%;"></p>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    id="print-button"
                    data-request="onRefreshValues"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Showing PO Preview..."
                    class="btn btn-default oc-icon-print">
                    Print Preview
                </button>
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving InternalPurchaseOrder..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving InternalPurchaseOrder..."
                    class="btn btn-default">
                    Save and Close
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting InternalPurchaseOrder..."
                    data-request-confirm="Delete this internalpurchaseorder?">
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('pacificrim/radicalorganics/internalpurchaseorders') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pacificrim/radicalorganics/internalpurchaseorders') ?>" class="btn btn-default">Return to internal purchase orders list</a></p>

<?php endif ?>